#caja {
    margin-left: -40px;
    li {
        list-style: none;
        padding-left: 10px;
        margin-right: -10px;
        margin-left: 30px;
        border: 1px solid black;
        #imgs {
            height: 250px;
        }
        #brand {
            font-size: 22px;
            font-weight: bold;
        }
        #model {
            font-size: 20px;
        }
        #button {
            padding: 10px;
            padding-left: 50px;
            padding-right: 50px;
            margin-left: 80px;
            background-color: white;
            border-radius:5%;
        }
        #price {
            color: red{};
            border: white;
            padding-left: 220px;
        }
    }
}