<div class="container">
    <div class="container-fluid mt-5">
        <div class="row">
            <div class="col-12">
                <ul>
                    <li>
                        <div class="col-6">
                            <img src="../../../assets/{{Product.imgs}}">
                            <br>
                            <br>
                            <br>
                            <br>
                            <br>
                            <h3 class="mt-5" id="title">RECOMENDACIONES</h3>
                            <div id="recommendation">{{Product.recommendation}}</div>
                        </div>
                    </li>
                    <li>
                        <div class="card-body col-4" id="contenedor">
                            <h4 id="brand">{{Product.brand}}</h4>
                            <br>
                            <h4 id="model">{{Product.model}}</h4>
                            <br>
                            <br>
                            <p id="desc">{{Product.description1}}</p>
                            <p id="desc">{{Product.description2}}</p>
                            <p id="desc">{{Product.description3}}</p>
                            <p id="desc">{{Product.description4}}</p>
                            <p id="desc">{{Product.description5}}</p>
                            <p id="price">{{Product.price}}</p>
                            <br>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>









</div>
